<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= JSON.parse(routes).root %>">Crontab UI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Backups</a>
          <ul class="dropdown-menu">
            <% if (backups.length == 0){ %>
              <li><a class="dropdown-item" href="#">None</a></li>
            <% } else { %>
              <% backups.forEach(function(file){ %>
                <li><a class="dropdown-item" href="<%= JSON.parse(routes).restore %>?db=<%= file %>"><%= file %></a></li>
              <% }) %>
            <% } %>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav border-end pe-3 me-3">
        <div class="form-check form-switch">
          <input class="form-check-input order-2" type="checkbox" role="switch" id="darkModeSwitch">
          <label class="form-check-label order-1" for="darkModeSwitch">🌓︎</label>
        </div>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="https://github.com/alseambusher/crontab-ui">Fork me on Github</a></li>
      </ul>
    </div>
  </div>
</nav>
