<!-- Job -->
<div class="modal fade" id="job">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="job-title">Job</h4>
      </div>
      <div class="modal-body" id="job-body">
	<label>Name (Optional)</label>
	<input type='text' class='form-control' id='job-name'/><br />
	<label>Command</label>
	<input type='text' class='form-control' id='job-command' onkeyup="job_command = $(this).val(); job_string();"/><br />
	<label>Quick Schedule</label><br />
	<a class="btn btn-primary" onclick="schedule = '@reboot'; job_string();">Startup</a>
	<a class="btn btn-primary" onclick="schedule = '@hourly'; job_string();">Hourly</a>
	<a class="btn btn-primary" onclick="schedule = '@daily'; job_string();">Daily</a>
  <a class="btn btn-primary" onclick="schedule = '@weekly'; job_string();">Weekly</a>
	<a class="btn btn-primary" onclick="schedule = '@monthly'; job_string();">Monthly</a>
	<a class="btn btn-primary" onclick="schedule = '@yearly'; job_string();">Yearly</a><br /><br />

	<div class="row">
		<div class="col-md-2">Minute</div>
		<div class="col-md-2">Hour</div>
		<div class="col-md-2">Day</div>
		<div class="col-md-2">Month</div>
		<div class="col-md-2">Week</div>
	</div>
	<div class="row">
		<div class="col-md-2"><input type="text" class="form-control" id="job-minute" value="*" onclick="this.select();"/></div>
		<div class="col-md-2"><input type="text" class="form-control" id="job-hour" value="*" onclick="this.select();"/></div>
		<div class="col-md-2"><input type="text" class="form-control" id="job-day" value="*" onclick="this.select();"/></div>
		<div class="col-md-2"><input type="text" class="form-control" id="job-month" value="*" onclick="this.select();"/></div>
		<div class="col-md-2"><input type="text" class="form-control" id="job-week" value="*" onclick="this.select();"/></div>
		<div class="col-md-2"><a class="btn btn-primary" onclick="set_schedule();">Set</a></div>
	</div>

	<br />
	<br />
	<label>Job</label>
	<input type='text' class='form-control' id='job-string' disabled='disabled'/><br />
	<label><input type="checkbox" id="job-logging" style="position:relative;top:2px"/> Enable error logging.</label><br />
	<a class="btn btn-primary btn-small" data-json="{}" onclick="setMailConfig(this);" id="job-mailing">Mailing</a>
	<a class="btn btn-primary btn-small" data-json="{}" onclick="setHookConfig(this);">Hooks</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="job-save">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-title">Message</h4>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close-button">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-button">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="info-popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info-title">Message</h4>
      </div>
      <div class="modal-body" id="info-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="info-button">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
